@model IEnumerable<FashionStore.Repository.Models.News>
@{
    ViewData["Title"] = ViewBag.CategoryName;
}

<div class="container py-5">
    <div class="text-center mb-5">
        <h1 class="fw-bold text-uppercase">@ViewBag.CategoryName</h1>
        <p class="text-muted">Các dịch vụ đưa đón cao cấp của chúng tôi</p>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
                <div class="col-md-6 mb-4">
                    <div class="d-flex align-items-center border rounded p-3 shadow-sm">
                        <img src="@item.ImageUrl" style="width: 150px; height: 100px; object-fit: cover;" class="rounded me-3">
                        <div>
                            <h4 class="fw-bold"><a asp-action="Details" asp-route-id="@item.NewsId" class="text-decoration-none text-dark">@item.Title</a></h4>
                            <p class="small text-muted mb-0">@item.Summary</p>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>